.app{
  background-color: #230312;
  color: white;
  min-height: 100vh;
  .header {
    background-color: #1d000d;
    height: auto;
    width: 100%;
    img {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}